<div th:fragment="pie" class="row">	
	
	<div class="col-sm-1"></div>
	
	<div class="col-sm-4">
	   <hr>
	   <p>Master de Java Spring Framework y Spring Boot </p>
       <p>Lourdes Arnay Delgado</p>
       <p>2023</p>
	</div>
	
	<div class="col-sm-4 my">
	   <hr>
	   <p>Biblioteca La torre de papel</p>
	   <p>Avenida de los lectores, 1</p>
	   <p>Madrid</p>
	</div>
	
	<div class="col-sm-2">
       <nav class="navbar navbar my flex-column">
          <a class="navbar-brand" th:href="@{/}"><h6>Inicio</h6></a>
          <a class="navbar-brand" th:href="@{/socios}"><h6>Socios</h6></a>
          <a class="navbar-brand" th:href="@{/catalogo}"><h6>Catálogo</h6></a>
          <a class="navbar-brand" th:href="@{/prestamos}"><h6>Préstamos</h6></a>
       </nav>
    </div>

	<div class="col-sm-1"></div>

</div>		